body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Search Box */
input{
    text-align: center;
}
.form-outline{
  width: 300px; 
  margin-top: 1rem;
  
}
 .form-control::placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
.form-outline .fa{
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
/* End Search */
/* START Filter */
.display-6{
    font-weight: bolder;
    margin-left: 5rem;
}
.filter{
    display: none;
}
.form-select{
    border: none;
}
select:focus{
    outline: none;
    border: none;
}
.text-muted{
    margin-left: 15px;
}
option{
    font-weight: bold;
}
/* End Filter */
/* Car Objects */
.shadow a{
    text-decoration: none;
    color: darkslategray;
}
.d-inline-block p{
    font-size: 15px;
    font-weight: bolder;
}
.carName{
    font-size: 15px;
    font-weight: bolder;
}
.d-inline-block .carAttribute{
    display: inline;
    color: darkslategray;
    margin-left: 4px;
    font-size: 15px;
    font-weight: normal;
    
}
.pay-per-hour del{
    font-size: 11px;
    color: darkslategray;
    display: block;
}
/* End Car Objects */
/* MEDIA QUERIES FOR MOBILE AND TABLET DEVICES */
@media screen and (min-width:991px) {
    #mobile-filter{
        display: block;
    }
    .pay-per-hour{
        margin-left: 5rem;
    }
    #mobile-filter{
        border:  1px solid darkslategray;
        height: 6rem;
    }
    #mobile-filter .col-auto{
        margin-top: 22px;
    }
    .form-outline{
        margin-top: 2rem;
    }
    #carObjects{
        margin-top: 1rem;
    }
    
}
@media screen and (min-width:568px) and (max-width:990px) {
    .filter{
        display: inline;
    }
    .shadow{
        text-align: center;
    }
   
}
@media screen and (max-width:567px) {
    .filter{
        display: block;
    }
    .shadow 
    {
        text-align: center;
    }
    .d-inline-block{
        margin-top: 5px;
    }
}